<div class="container">
  <div class="flex-column">
    <div class="sticky-top shadow query-nav">
      <h1> <u> All Queries </u> </h1>
      <%= button_to "Home", employees_path, method: :get ,class:"btn-success border-0 rounded shadow px-3 py-2 " %>
    </div>
    <%# ---------- Employees having age > 20 and < 40-------------------- %>
    <%= render 'query1' %>
    <%# ---------- Female Engineers-------------------- %>
    <%= render 'query2' %>
    <%# ---------- Male Software Engineers-------------------- %>
    <%= render 'query3' %>
    <%# ---------- Part Time Available Employee -------------------- %>
    <%= render 'query4' %>
    <%# ---------- Employee whose age > 40 and salary > 50000 -------------------- %>
    <%= render 'query5' %>
    <%# ---------- Employee whose age is [46, 51, 55] -------------------- %>
    <%= render 'query6' %>
    <%# ---------- First 5 Employee in birthdate descending order -------------------- %>
    <%= render 'query7' %>
    <%# ---------- Total of grouped items -------------------- %>
    <%= render 'query8' %>
    <%# ---------- Employee's Leave Count with Includes and Joins -------------------- %>
    <%= render 'query9' %>
    <%# ---------- Employees who are on leave -------------------- %>
    <%= render 'query10' %>
    <%# ---------- Employee with Salary Descending -------------------- %>
    <%= render 'query11' %>
    <%# ---------- Employee with Second Highest Salary -------------------- %>
    <%= render 'query12' %>
  </div>
</div>
